<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.hnust.dao.KServiceMapper" >
  <resultMap id="BaseResultMap" type="com.cn.hnust.pojo.KService" >
    <id column="kf_account" property="kfaccount" jdbcType="VARCHAR" />
    <result column="kf_headimgurl" property="kfheadimgurl" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    kf_account, kf_headimgurl, nickname, password
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from kservice
    where kf_account = #{kfaccount,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from kservice
    where kf_account = #{kfaccount,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cn.hnust.pojo.KService" >
    insert into kservice (kf_account, kf_headimgurl, nickname, 
      password)
    values (#{kfaccount,jdbcType=VARCHAR}, #{kfheadimgurl,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.hnust.pojo.KService" >
    insert into kservice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="kfaccount != null" >
        kf_account,
      </if>
      <if test="kfheadimgurl != null" >
        kf_headimgurl,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="password != null" >
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="kfaccount != null" >
        #{kfaccount,jdbcType=VARCHAR},
      </if>
      <if test="kfheadimgurl != null" >
        #{kfheadimgurl,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.hnust.pojo.KService" >
    update kservice
    <set >
      <if test="kfheadimgurl != null" >
        kf_headimgurl = #{kfheadimgurl,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where kf_account = #{kfaccount,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.hnust.pojo.KService" >
    update kservice
    set kf_headimgurl = #{kfheadimgurl,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where kf_account = #{kfaccount,jdbcType=VARCHAR}
  </update>
</mapper>