@CHARSET "UTF-8";

#head 
{
	color:red;
	text-align:center;
}


#p 
{
	margin-left:20px;
	text-align:center;
	color:#000000;
}


body
{
	background-color:#b0c4de;
	text-align:center;
	margin:0px auto;
}